.banner{
    background-color: coral;
    width: 100%;
    height:200px;
    margin-bottom:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    }

.banner-text{
        font-family: Verdana, sans-serif;
        font-color:black;
        }